/* RESET CSS */
* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/* FIM RESET CSS */

body{
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  
}

header{
    display: flex;
    justify-content: center;
}

.cabecalho{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: white;
    width: 600px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.377) 10px 10px 10px 0;
    border: solid rgb(0, 0, 0) 2px;
}

#area{
    display: flex;
    justify-content: center;
}

main{
    background-color: rgb(83, 0, 161);
    width: 800px;
    height: 1000px;
    margin-top: 25px;
    margin-bottom: 100px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.377) 10px 10px 10px 0;
    border: solid rgb(0, 0, 0) 2px;
}

input {
    
    width: 130px;
    max-width: 220px;
    height: 40px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid rgba(0, 0, 0, 0.555);
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
  }
  
input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
  }
  
input:active {
    transform: scale(0.95);
  }
  
input:focus {
    border: 2px solid grey;
  }

select{
    color: white;
    width: 100px;
    max-width: 220px;
    height: 45px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid rgba(0, 0, 0, 0.555);
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
}



.finn{
    width: 150px;
   
}

.boasVindas{
    margin-top: 25px;
}

p{
    margin-top: 15px;
    font-weight: bold;
    font-size: 25px;
}

.controleFinanceiro{
    font-weight: 100;
    font-size: 20px;
}

.resumo{
    display: flex;
    margin-top: 25px;
    justify-content: center;
    gap: 30px;
}

.resumo
div{
    width: 200px;
    height: 40px;
    padding: 12px;
    border-radius: 10px;
    border: 1.5px solid rgba(0, 0, 0, 0.555);
    text-align: center;
    box-shadow: 0px 0px 20px -18px;
}

.novoItem{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.novoItem
div{
    margin-top: 50px;
}

.botao{
    justify-content: center;
    display: flex;
}

#btnNovo{
 background-color: transparent;
 border: 0.125em solid #1A1A1A;
 border-radius: 0.9375em;
 box-sizing: border-box;
 color: #3B3B3B;
 display: inline-block;
 outline: none;
 padding: 1em 2.3em;
 text-align: center;
 text-decoration: none;
 margin-top: 20px;
 width: 100px;
}

#btnNovo:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}
.divTabela{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.columnAcao
button{
    background-color: black;
    color: white;
    width: 100px;
    height: 20px;
    border-radius: 10px;
}

tr{
    margin-top: 20px;
    display: flex;
    gap: 30px;
}